.pdetail-layout {
  width: 1064px;
  margin: auto;
  display: grid;
  padding-top: 32px;
  grid-gap: 2.5rem;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 320px;
  grid-template-areas:
    "gallery-container gallery-container"
    "info-container package-container";
}
