.style-list {
  width: 352px;
  padding: 16px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  overflow-y: scroll;
  height: 160px;

  .style-button {
    padding: 8px;
    border-radius: 4px;
    border-width: 0px;
    color: var(--color-gray-500);
    background-color: white;
    width: 100%;
    text-align: right;
    display: grid;
    grid-template-columns: 90% 10%;
    cursor: pointer !important;
    label {
      display: flex;
      justify-content: left;
    }
    input {
      display: flex;
      justify-content: right;
      margin: auto;
    }
    &:hover {
      background-color: var(--color-gray-100);
    }
  }
}
