.package {
  width: 100%;
  padding: 1.5rem;
  margin-top: 12px;
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  background: #fff;
  .time-range {
    display: flex;
    align-items: center;

    i {
      margin-right: 4px;
    }
    p {
      font-size: var(--font-size-300);
    }
  }
  .description {
    font-family: var(--font-family-primary) !important;
    margin-top: 8px;
    font-size: var(--font-size-300);
  }
  .confirm-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-side {
      .package-checkbox {
        padding: 8px;
        font-weight: 600;
        font-size: 0.875rem;
        padding-left: 0px;
        border-radius: 4px;
        color: var(--color-dark-primary);
        background-color: white;
        font-family: var(--font-family-secondary, --font-family-primary);
        width: fit-content;
        display: flex;
        grid-template-columns: 90% 10%;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: var(--color-gray-100);
        }
      }
      p {
        padding-left: 22px;
        text-align: center;
        padding-top: 2px;
        font-size: var(--font-size-200);
        a {
          color: var(--color-primary-500);
          font-family: var(--font-family-primary);
        }
      }
    }
  }
}
